<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>About</title>
</head>
<body>
    <!-- Component NAV BAR -->
    
    <%- include('partials/navbar', {page: '/about'}) %>
    <!-- Component GRID SYSTEM -->
    <div class="container mx-auto">

      <div class="grid grid-cols-1 mb-2">
        <div class="border-2 rounded-box p-2">About Me</div>
      </div>
      
      <!-- About me -->
      <h1>Mohammed Abbas Ali</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQHgqhPPPblcr-yOTr2gU4oPluNcEMryUXCBvnSb4enhp_vJRpLfbD50UEvcBvtj-6znc&usqp=CAU" alt="Abbas" />
        </div>
        <div>
          <p>Hello, My name is Mohammed Abbas Ali, I am an aspiring Software Dev, I am currently enrolled in the program Computer Programming And Analysis. I love studying programming, playing sports and also gaming.</p>
        </div>
      </div>

    </div>
  </body>
</html>
